---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Banner from '../components/Banner.astro';
import ReachSection from '../components/reachSection.astro';
import DigitalSolutionSection from '../components/DigitalSolutionSection.astro';
import BlogSection from '../components/BlogSection.astro';
import UnicefSection from '../components/UnicefSection.astro';
---

<Layout title="Amplio - Share knowledge through audio technology">
  <main>
    <Navbar />
    <Banner />
    <ReachSection />
    <DigitalSolutionSection />
	<BlogSection />
	<UnicefSection />
  </main>
</Layout>