---
---

<div class="relative h-screen">
    <div class="absolute inset-0 mt-20">
      <img
        src="/assets/homepageAssets/mainBanner.jpg"
        alt="Amplio Talking Book Program"
        class="w-full h-full object-cover object-center" 
      />
      <!-- <div class="absolute inset-0 bg-black/30"></div> -->
      <div class="absolute inset-0 bg-white/10"></div>
    </div>
  
    <div class="relative h-full flex items-start pt-[18vh]"> 
      <div class="max-w-[2000px] px-44">
        <div class="max-w-2xl text-white">
          <h2 class="text-lg md:text-xl font-medium mb-4">
            AMPLIO TALKING BOOK PROGRAM
          </h2>
          <h1 class="text-4xl md:text-6xl font-bold leading-tight">
            Share knowledge through audio technology
          </h1>
        </div>
      </div>
    </div>
  </div>