---
import { Image } from 'astro:assets';

const stats = [
  {
    number: "47",
    label: "Projects",
    icon: "/assets/homepageAssets/projects.png"
  },
  {
    number: "2,066,428",
    label: "People reached",
    icon: "/public/assets/homepageAssets/peopleReached.png"
  },
  {
    number: "14",
    label: "Countries",
    icon: "/public/assets/homepageAssets/countries.png"
  }
];
---

<section class="lg:py-20 py-8">
  <div class="max-w-full lg:max-w-[2000px] mx-auto px-6 sm:px-6 lg:px-52">
    <div class="max-w-4xl mx-auto text-center mb-16">
      <div class="text-xl sm:text-lg md:text-3xl font-normal mb-6">
        <span >For people in rural communities, there's a growing</span>
        <br />
        <span >digital divide. We have a way to reach them.</span>
      </div>
      
      <div class="text-gray-700 text-base sm:text-lg mb-8">
        <span>Amplio is on a mission to reach the world's most vulnerable communities through</span>
        <br />
        <span>inclusive digital technology and knowledge sharing. Nearly 800 million people in the</span>
        <br />
        <span>world can't read or write. Most of them are women and girls.</span>
      </div>

      <p class="text-base sm:text-lg">
        Our <a href="/why-talking-books" class="text-cyan-500 hover:text-cyan-600">Talking Book technology</a>, 
        <a href="/consulting-services" class="text-cyan-500 hover:text-cyan-600">services</a>, and 
        <a href="/partners" class="text-cyan-500 hover:text-cyan-600">partnerships</a> help close the digital divide, <br /> share vital information, and unlock potential for people who are often left behind.
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 px-6 sm:px-12 lg:px-24">
      {stats.map(stat => (
        <div class="flex flex-col items-center">
          <div class="w-32 h-32 sm:w-40 sm:h-40 lg:w-48 lg:h-48 mb-6">
            <Image 
              src={stat.icon} 
              alt={stat.label} 
              class="w-full h-full object-contain p-4 sm:p-6 rounded-full overflow-hidden" 
              width={192} height={192} 
              format="webp" 
              fit="contain"
            />
          </div>
          <div class="text-center">
            <p class="text-[#FF5843] text-3xl sm:text-4xl lg:text-5xl font-bold mb-2">{stat.number}</p>
            <p class="text-gray-700 text-base sm:text-lg">{stat.label}</p>
          </div>
        </div>
      ))}
    </div>

    <div class="text-center mt-12">
      <a href="/impact" class="inline-flex items-center justify-center px-6 py-3 border border-gray-500 rounded-md hover:border-gray-400 transition-colors">
        SEE OUR IMPACT
      </a>
    </div>
  </div>
</section>
