---
import { Image } from 'astro:assets';
import UnicefLogo from "../assets/homepageAssets/UNICEF_Logo.png"
import Unicef from "../assets/homepageAssets/unicef_section.jpg"

interface FormData {
  email: string;
  firstName: string;
  lastName: string;
}

const handleSubmit = async (data: FormData) => {
};
---

<client:idle>
  <section class="relative w-full">
    <div class="max-w-[2000px] mx-auto px-6 sm:px-12 lg:px-44 py-20 text-center">
      <Image 
        src= {UnicefLogo} 
        alt="UNICEF Logo" 
        width={192} 
        height={192} 
        class="mx-auto mb-12 w-48"
        format="webp"
      />
      
      <blockquote class="max-w-4xl mx-auto mb-6 text-xl sm:text-2xl font-medium text-gray-800">
        "An innovative technology to influence behaviors that impact the lives and opportunities of the world's most vulnerable children and their families."
      </blockquote>
      
      <div class="text-gray-600">
        <p>Susan Ngongi Namondo, United Nations Diplomat</p>
        <p>and former UNICEF Representative to Ghana</p>
      </div>
    </div>

    <div class="relative w-full h-[600px]">
      <div class="absolute inset-0 w-full h-full">
        <Image 
          src={Unicef} 
          alt="Community members" 
          width={2000} 
          height={600} 
          class="w-full h-full object-cover"
          format="webp"
        />
      </div>

      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[90%] max-w-[460px] text-white text-center p-6 sm:p-12 bg-[#6a6ebd] bg-opacity-80 backdrop-blur-sm rounded-lg shadow-lg z-10
      lg:left-44 lg:translate-x-0">
        <h3 class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-6">Knowledge is Power</h3>
        <p class="text-sm sm:text-base leading-relaxed mb-6 sm:mb-8">
          Join us, and help unlock the power of people and communities through knowledge sharing.
        </p>

        <button 
          type="button"
          class="w-full py-3 px-6 bg-[#FF5C35] hover:bg-[#FF4415] text-white font-medium rounded-md transition-colors duration-200"
        >
        <a
            href="https://amplioghanasbccfund.donorsupport.co/page/generalgiving"
            class="bg-[#EE8060] text-white px-8 py-3 rounded-md hover:bg-[#ff4a33] transition-colors"
            target = "_blank"
        >
          DONATE
      </a>
        </button>
      </div>
    </div>
  </section>
</client:idle>
