---
interface Statistic {
  imageSrc: string;
  value: string;
  description: string;
}

const statistics: Statistic[] = [
  {
    imageSrc: "/assets/why-amplio/book.svg",  
    value: "773 million",
    description: "adults and youth lack basic literacy skills"
  },
  {
    imageSrc: "/assets/why-amplio/bulb.svg",
    value: "750 million",
    description: "people live without electricity"
  },
  {
    imageSrc: "/assets/why-amplio/phone.svg",
    value: "635+ million",
    description: "adults in low and middle-income countries don't have mobile phones—including 400 million women"
  },
  {
    imageSrc: "/assets/why-amplio/connect.svg",
    value: "1B+ women",
    description: "don't use mobile internet because of cost, illiteracy, safety and security, and other barriers"
  }
];
---

<section>
    <section class="bg-white mt-20 pt-10 pb-4">
        <div class="text-center mb-16">
          <h2 class="text-4xl font-bold mb-4">Why Talking Books?</h2>
          <p class="max-w-2xl mx-auto text-lg mb-9">
            For people in developing countries, access to knowledge can transform lives.
          </p>
        </div>
      
        <div class="mt-12 relative w-screen left-1/2 right-1/2 ml-[-50vw] mr-[-50vw]">
          <div class="w-full h-[470px] md:h-[560px] relative">
            <img 
              src="/assets/why-amplio/why-amplio.jpg" 
              alt="Girl listening to the Amplio Device with Family" 
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </section>

      <section class="max-w-6xl mx-auto px-4 py-4">
        <div class="text-center mb-12">
          <h2 class="text-2xl font-bold mb-6 max-w-3xl mx-auto">
            Development agencies face barriers to sharing knowledge with the most vulnerable and underserved communities.
          </h2>
          <p class="text-gray-700 text-lg mb-4 max-w-3xl mx-auto">
            They also lack an adequate understanding of each community's specific needs. There are too many villages, too far apart — and too many barriers. Challenges include poor road conditions, illiteracy, gender inequities, unreliable electricity and internet, and expensive mobile data.
          </p>
          <p class="text-gray-700 text-lg max-w-3xl mx-auto">
            But access to knowledge can impact food security, health, income, and more.
          </p>
        </div>
      
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-40">
          {statistics.map((stat) => (
            <div class="flex flex-col items-center text-center">
              <div class="mb-4">
                <img 
                  src={stat.imageSrc} 
                  alt="" 
                  class="w-16 h-16 object-contain "
                />
              </div>
              
              <div class="text-2xl font-bold mb-2">{stat.value}</div>
              
              <p class="text-gray-600 text-sm">{stat.description}</p>
            </div>
          ))}
        </div>
      </section>

      <section>
        <div class="mt-12 relative w-screen left-1/2 right-1/2 ml-[-50vw] mr-[-50vw]">
            <div class="w-full h-[470px] md:h-[560px] relative">
              <img 
                src="/assets/why-amplio/woman-with-amplio.jpg" 
                alt="Girl listening to the Amplio Device with Family" 
                class="w-full h-full object-cover"
              />
            </div>
          </div>
      </section>

      <section class="bg-blue-50 py-16">
        <div class="container mx-auto px-4 text-center">
          <h2 class="text-3xl font-bold mb-4">An inclusive digital solution</h2>
          <p class="text-gray-600 max-w-2xl mx-auto mb-8">
            Amplio's Talking Book program is recognized by UNESCO as an inclusive digital solution that low-literate adults and youth can use to gain new skills and knowledge to improve their lives. Our technology overcomes barriers in hard-to-reach communities — so knowledge sharing goes both ways.
          </p>
          
          <div class="max-w-3xl mx-auto">
            <div class="aspect-video bg-gray-200 rounded-lg overflow-hidden">
              <iframe 
                src="https://www.youtube.com/embed/q7GN3q7katA?si=8-3t0KvD68ZypauC" 
                title="Project Video" 
                class="w-full h-full"
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </section>
          
    </section>
