---
import { services } from '../../constants';
import ServiceCard from './ServiceCard.astro';
---

<section class="py-16 bg-blue-50">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-4">
            Services & Consulting
        </h2>
        
        <div class="text-center mb-12 w-[550px] max-w-2xl mx-auto">
            <p class="text-gray-700 ">
                Amplio Ghana offers a range of services, from technology setup and 
                training to Talking Book program design and implementation.
            </p>
            <p class="text-gray-700 mt-2">
                We're here to help! See our 
                <a 
                    href="#" 
                    class="text-blue-500 hover:text-blue-600 transition-colors"
                >
                    Basic Service Package
                </a>.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {services.map(service => (
                <ServiceCard service={service} />
            ))}
        </div>
    </div>
</section>